<h1>New Person</h1>
<form>
  {{input id='firstName' type='text' value=firstName}}
  {{input id='lastName' type='text' value=lastName}}
  <button class="submit" {{action 'addPerson'}}>Add New Person</button>
</form>
{{outlet}}