<nav class="navbar navbar-default">
  <div class="container-fuild">
  	<ul class="nav navbar-nav">
  	  <li>{{link-to 'People' 'persons'}}</li>
  	</ul>
  </div>
</nav>
<div class="container">
{{outlet}}
</div>
