<h1 id="title">People</h1>
<form>
<ul class="persons list-unstyled">
	{{#each model as |person|}}
		{{#unless person.isNew}}
			<li>{{input type="checkbox"}}{{#link-to 'person' person}}{{person.fullName}}{{/link-to}}</li>
		{{/unless}}
	{{/each}}
</ul>
</form>
{{outlet}}
