<h1 id="title">People</h1>
<form>
<ul class="persons list-unstyled">
	{{#each model as |person|}}
		{{#unless person.isNew}}
			<li>{{person-component person=person personController=controller}}</li>
		{{/unless}}
	{{/each}}
</ul>
<button {{action 'makeFriends'}} class="btn btn-default">Make Friend</button>
</form>
{{outlet}}
